<h3>Some awesome places in Austin</h3>
<ul> 
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place.name) %><br>
      <img src="<%= place.picture_url %>"><br>
      <%= place.review %><br>
    </li>
  <% end %>
</ul>